/* Reset default styles */
body, h1, h2, p, ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
header {
  background: linear-gradient(to bottom, #333, #111);
  padding: 15px;
 
}
section {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
#features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.feature {
  flex: 1 1 30%;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fff;
}
.feature img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
footer {
  background: linear-gradient(to bottom, #333, #111);
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 
}
.article  .btn{
  color: #fff;
  padding: 12px 25px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f15048;
}
.article  .btn:hover{
  background-color: #4399fa;
  transition: 0.5% ease;
}
.article{
  box-shadow: blue;
}
nav{
  height: 70px;
}

nav h1{
  float: left;
  line-height: 80px;
  font-size: 35px;
  font-size: inline;
  color: rgb(255, 255, 255);
}
nav ul{
  float: right;
  line-height: 80px;
}
nav ul li{
  display:inline-block;
  list-style: none;
  padding: 0px 3px;
}
nav ul li a{
  color:#f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 8px;
}
nav ul li a:hover{
  background-color:#ff0000;
  transition: 0.5% ease;
}
nav ul li .active{
  background-color: #ff0000;
}
form {
  border: 2px solid #cccccc; 
  padding: 20px; 
  border-radius: 8px; 
  max-width: 500px; 
  margin: auto; 
  background-color: #f9f9f9; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
